[submodule "jfmact"]
	path = jfmact
	url = ../jfmact.git
	branch = 3DS
[submodule "jfaudiolib"]
	path = jfaudiolib
	url = ../jfaudiolib.git
	branch = 3DS
[submodule "jfbuild"]
	path = jfbuild
	url = ../jfbuild.git
	branch = 3DS
